* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 94, 94);

}
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: rgb(4, 4, 22);
    padding: 2% 0 0 0;
}
.itens-cadastro {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: rgba(88, 126, 192, 0.963);
    border: solid ;
    border-radius: 15px;
    box-shadow: 20px 15px rgb(45, 47, 47);
    padding: 20px;
    margin: 2% 30%;
    font-size: 30px;
    gap:10px;
}
input {
    background-color: rgba(220, 215, 226, 0.87);
    padding: 8px;
    border-radius: 10px;
    
}
button {
    font-size: 20px;
    padding: 15px;
    border: solid;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(172, 81, 81);
}

.tempo {
    display: flex;
    flex-direction: column;
    color: rgb(3, 22, 39);
    width: 500px;
    background-color:  rgba(88, 126, 192, 0.963);
    border: solid;
    border-color: black;
    box-shadow: 20px 15px rgb(45, 47, 47);
    border-radius: 15px;
    padding: 30px;
    margin: 3% 30%;
    font-size: 30px;
    gap:10px;
}